<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir={{ .Site.Language.LanguageDirection }}>

<head>
  {{ partial "html-head" . }}
  {{ partial "inject/head" . }}
</head>

<body dir={{ .Site.Language.LanguageDirection }} class="homepage">
  <canvas id="starfield"></canvas>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
    
  {{ template "nav" . }} 
    
  <main class="">
    <div class="container">

      <div class="text-center" id="home-content">
        {{ template "main" . }} 
      </div>
    </div>
  </main>

  {{ template "site-footer" . }}

  {{ partial "inject/body" . }}
  <script src="/assets/sf-init.js"></script>
</body>

</html>

<!-- Aris start -->

{{ define "nav" }}
  {{ partial "nav" . }}
{{ end }}

{{ define "page-content" }}

{{ end }}


<!-- Aris end -->

{{ define "menu" }}
  {{ partial "menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header" . }}

  {{ if default true (default .Site.Params.NewDocsToC .Params.NewDocsToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}

{{ define "git-info" }}
{{ end }}

{{ define "site-footer" }}
  {{ partial "site-footer" . }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    <!-- <div class="body"> -->
      {{- .Content -}}
    <!-- </div> -->
  </article>
{{ end }}
