# Hugo default output directory
/.configs/public
/.configs/resources

# theme dev debug
/.configs/themes/newdocs-dev

# NPM
node_modules

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.idea

