/* You can add custom styles here. */

nav#navbar {
  background: unset;
  a {
    color: var(--body-content);
  }
}

canvas#starfield {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.homepage main .container {
  flex-direction: column;
}

.homepage nav#navbar {
  background: unset;
  a {
    color: var(--body-content);
  }
}

#home-content {
  display: flex;
  flex-direction: column;
  .banner-s1 {
    display: flex;
    flex-direction: column;
    @media (min-width: $mobile-breakpoint) {
      margin: 0 15vw;
    }
    h1, h2 {
      margin: 0.1em 0;
      font-weight: 200;
    }
    h1 {
      font-size: 3.5em;
      @media (max-width: $mobile-breakpoint) {
        font-size: 2.2em;
        display: none;
      }
      span {
        font-weight: 400;
      }
    }
    h2 {
      font-size: 2.5em;
      @media (max-width: $mobile-breakpoint) {
        font-size: 2em;
      }
      text-transform: uppercase;
    }
    p {
      margin: 0.5em 0;
    }
    .launch-app {
      img {
        max-width: 90%;
        @media (min-width: $mobile-breakpoint) {
          max-width: 70%;
        }
      }
      a.btn {
        @extend .rounded-md;
        margin: $as-sm 0;
        font-size: medium;
        background: var(--body-content);
        color: var(--body-background);
        padding: $as-sm $as-md;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
          color: white;
          background-color: var(--accent-2);;
        }
      }
    }
  }

  .banner-s2 {
    margin: $as-lg 0;
    padding: 0 $as-lg;
    i {
      font-size: $as-lg;
    }
    h3 {
      margin: $as-sm 0;
    }
    .newdocs-columns > div {
      @extend .rounded-sm;
      margin: $as-sm $as-md;
      padding: $as-md;
      background: var(--fbg-200);
      @extend .transition-color;
      &:hover {
        background: var(--fbg-400);
      }
    }
  }
}